@using FundsLibrary.InterviewTest.Common
@model FundsLibrary.InterviewTest.Common.FundManager

@{
    ViewBag.Title = "Details";
}

<h1>Details</h1>
<h2>Manager</h2>
<div class="fund-manager-details">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Biography)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Biography)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManagedSince)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManagedSince)
        </dd>
    </dl>
</div>
<h2>Funds Managed</h2>
<div>
    @foreach(var fund in Model.Funds)
    {
        <h3>@Html.DisplayFor(model => fund.FullName)</h3>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => fund.IsinCode)
            </dt>
            <dd>
                @Html.DisplayFor(model => fund.IsinCode)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => fund.IASector)
            </dt>
            <dd>
                @Html.DisplayFor(model => fund.IASector)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => fund.BenchmarkDescription)
            </dt>
            <dd>
                @Html.DisplayFor(model => fund.BenchmarkDescription)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => fund.Objectives)
            </dt>
            <dd>
                @Html.DisplayFor(model => fund.Objectives)
            </dd>
        </dl>
    }
    
    <img src="https://www.fundslibrary.co.uk/FundsLibrary.DataApi.Web/img/Powered By FundsLibrary.png" alt="Powered By FundsLibrary" />
</div>
<div class="row">
    @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-default col-sm-1" })
    <span class="col-sm-4"></span>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-success col-sm-1" })
</div>
<br/>
<div class="row">
    <span class="col-sm-5"></span>
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger col-sm-1" })
</div>